* {
    -fx-primary : #ffffff;
    -fx-secondary : #ffff8D;
    -fx-primarytext : gray;
    -fx-blue : #1976D2;
    -fx-red : #FF0000;
    -fx-color-f : #1976D2;  
}

.dash_btn:hover{
    -fx-border-color : -fx-primary;
    -fx-border-width : 0px 0px 0px 4px;
}
.btn_li:hover{
    -fx-background-color :  #0277BD;
    -fx-text-fill: white;
}
.pane{
    -fx-background-color: #0277BD;
}